.contain{
    display: flex;
    }
    :root {
        --primary: rgba(12, 14, 12, 0.3);
        --secondary: rgba(195, 199, 197, 0.3);
    }
    body {
      background:  linear-gradient(135deg, var(--primary), var(--secondary)) ,
      url("pexels-anete-lusina-6353846.jpg") no-repeat  ;
    background-size: cover;
    background-position-y: -420px;
    
    
    
     }
    #display{
      width: 98%;
      height: 180px;
      margin-top: 20px;
      text-align: right;
      font-size: 60px;
      color: rgb(46, 45, 45);
      background-color: rgba(195, 199, 197, 0.3);
      background-color: rgba(104, 105, 105, 0.3);
      box-shadow: inset 2px 2px 10px 10px rgb(54, 54, 54), inset -5px -2px 10px 10px rgba(160, 161, 161, 0.3);
      
    }
    .mathButtons{
      width: 120px;
      height: 90px;
      background-color: rgb(0,0,0,0.3);
      color: white;
      outline: none;
      font-size:40px;
      border: none;
      border-radius: 50px ;
    }
    .mathButtons:hover{
      
      box-shadow: inset 2px 2px 10px 10px rgb(54, 54, 54), inset -5px -2px 10px 10px rgba(160, 161, 161, 0.3);
      
    
      }
      #clearButton:hover{
        background-color: rgb(39, 38, 38);
        border-radius: 50px ;
        box-shadow: inset 2px 2px 5px 5px rgb(34, 34, 34), inset -5px -2px 5px 5px rgba(160, 161, 161, 0.3);
          
      }
      #container{
      
        width: 430px;
        height: 600px;
        margin: auto;
        background:  linear-gradient(135deg,  rgba(12, 14, 12, 0.3), rgba(40, 41, 41, 0.3));
        background-color: rgba(195, 199, 197, 0.3);
       background-color: rgba(195, 199, 197, 0.3);
       box-shadow:  -5px 0px 10px 8px rgb(61, 61, 61), inset 2px 2px 10px 10px rgb(54, 54, 54), inset -5px -2px 10px 10px rgba(160, 161, 161, 0.3);
      
    
        }
        
        
        .buttondigits{
          background-color: rgba(195, 199, 197, 0.3);
         background-color: rgba(195, 199, 197, 0.3);
    
          color: rgb(27, 27, 27);
          height: 90px;
          width: 120px;
          font-size:40px;
          border: none;
          outline: none;
          border-radius: 50px ;
         
        }
        #clearButton{
          width: 120px;
          height:90px;
          background-color: rgba(19, 17, 17, 0.938);
          color: white;
          outline: none;
          border: none;
          font-size:40px;
          border-radius: 50px ;
          font-weight: bold;
        }
        .buttondigits:hover {
    background-color: gray;
    border-radius: 50px ;
    box-shadow: inset 2px 2px 5px 5px rgb(54, 54, 54), inset -5px -2px 5px 5px rgba(160, 161, 161, 0.3);
      
    }

  
    